%h2 Need help?

- if user_signed_in?
  %p This site is still under construction, but everything you see should be fully functional. Feel free to experiment with things while we're putting it together!
- else
  %p If you're having trouble logging in, there are links to reset your password or resend confirmation instructions at the bottom of this page.

%p Suggestions and problem reports are always welcome! Please see the #{link_to "developer's website", "http://sniz.org"} for contact information.
