- content_for :title, @user.to_param
- content_for :box, render(:partial => 'info')

- if @user.content.blank?
  %h1 Profile

  This user has not yet created any content.

- else
  :markdown
    #{@user.content}
