:textile
  h2. New Stuff

  This site is still under construction. User profiles and posting/discussion should now be working properly. You can access all features using the links in the navigation bar at the top of each page.

  New features are being added constantly. Check out "sniz.org":http://sniz.org for details and other news from the cloud creators.
