- content_for :box, render(:partial => 'box')

:markdown
  # Welcome to the clouds.

  **cloudscontrol.us** is a content-centric social art community,
  empowering you to share text, photo, audio and video media.
  We enable collaboration on digital art projects of any size or scale.

  We're still just getting started with putting the site together and
  developing the basic user experience, but everything you see now should
  be fully functional.


  #{image_tag 'feat_string.jpg', :class => 'left'}

  # Featured Artist: str1ng

  Josh Steinke, better known as
  [str1ng](http://cloudscontrol.us/users/stringo), is an experimental
  electronic artist and musician, as well as being the source of the original
  idea behind this site.

  He is one of the primary artists involved with the independent recording and
  music production group known as [basslin.es](http://basslin.es).
  His most recent musical work is also available
  [on SoundCloud](http://soundcloud.com/str1ng). In addition, he maintains an
  art and design portfolio called [i R creator](http://ircreator.com).

  str1ng's most recent visual work focuses on a clean, polished view of a
  dark, twisted mind, taking the form of vector-based art such as
  [Cthulhu vs. army of str1ng](http://ircreator.com/images/art/glitch01L.jpg).


  #{image_tag 'feat_keegan.jpg', :class => 'right'}

  # Featured Artist: Keegan

  [Keegan Quinn](http://cloudscontrol.us/users/keegan) is a software and
  systems consultant with a passion for music. He provides the technical
  expertise behind the clouds, creating all of the code which makes the
  difference between a simple web page and an art community.

  His music production skills provide the foundation for
  [basslin.es](http://basslin.es), and like str1ng, he makes pre-release
  tracks available [on SoundCloud](http://soundcloud.com/keegan). He also
  writes and publishes technical articles on [his blog](http://keegan.ws).
