- content_for :title, 'Welcome'
- content_for :box, render(:partial => 'box')

%h1= content_for :title

:textile
  *cloudscontrol.us* is a private community of musicians, artists, and creatives.

  This site allows users to easily share files and collaborate on projects. It's not just about sharing files, but also easily working together with your friends and peers.

  There is no limit to what we can do, when we let the clouds control us.

  Stuff is fluffy.


  !#{image_path 'feat_string.jpg'}(Featured Artist: string)!

  h1. Featured Artist

  ::*string*:: is an experimental electronic artist currently working on his third release. He has made this work in progress available "here":http://donk.sniz.org/~string/controlapparatus.mp3.
