- content_for :title, t(:home)
- content_for :box, render(:partial => 'box')

:markdown
  # Welcome to the clouds.

  **cloudscontrol.us** is a small community of musicians,
  artists and creatives.

  This site allows users to easily share files and collaborate on projects.
  It's not just about sharing files, but also easily working together with
  your friends and peers.


  #{image_tag 'feat_string.jpg'}

  # Featured Artist: str1ng

  [str1ng](http://cloudscontrol.us/users/stringo) is an experimental
  electronic artist and musician, in addition to being the creator of
  this site. His current work in available
  [on SoundCloud](http://soundcloud.com/str1ng).

