%li
  = link_to post.subject, user_post_path(post.user, post)
  - unless @user
    from
    = link_to post.user.to_param, user_path(post.user)
  #{time_ago_in_words(post.created_at)} ago
  - unless post.replies.empty?
    %ul
      - post.replies.each do |reply|
        = render :partial => 'item', :locals => { :post => reply }
